div  {
	font-size: 25px;
	font-family: monospace;
	
	& .WHITESPACE {
		
	}
	& .ERROR,
	& .ERROR_INCOMPLETE_KEY,
	& .ERROR_INCOMPLETE_VALUE,
	& .ERROR_INCOMPLETE_OBJECT,
	& .ERROR_INCOMPLETE_ARRAY{
		text-decoration: wavy underline red;
	}

	& .OPERATOR_CHILD,                
	& .OPERATOR_PARENT,
	& .PARENTHESIS_LEFT,
	& .PARENTHESIS_RIGHT {
		color: red;
	}              

	& .OPERATOR_SIBLING_NEXT,         
	& .OPERATOR_SIBLING_PREV,         
	& .OPERATOR_SIBLING_SUBSEQUENT,   
	& .OPERATOR_SIBLING_PRECEDING,   
	& .OPERATOR_SIBLING_ANY {
		color: red;
	}

	& .OPERATOR_OR,                   
	& .OPERATOR_AND,                  
	& .OPERATOR_NOT {
		color: orange;	
	}
	
    & .VALUE_TYPE_WILDCARD,       
	& .VALUE_TYPE_STRING,         
	& .VALUE_TYPE_NUMBER,         
	& .VALUE_TYPE_BOOLEAN,        
    & .VALUE_EXACT_NULL,                
	& .VALUE_EXACT_TRUE,               
	& .VALUE_EXACT_FALSE,               
	& .VALUE_EXACT_NUMBER,              
	& .VALUE_EXACT_STRING,
	& .VALUE_TYPE_ARRAY,
	& .VALUE_TYPE_OBJECT,
	& .ERROR_INCOMPLETE_VALUE {
		color: purple;
	}
	
	& .INDEX_ALL,               
	& .INDEX_ARRAY,             
	& .INDEX_OBJECT,
	& .WILDCARD_ALL,            
	& .WILDCARD_ARRAY,          
	& .WILDCARD_OBJECT,
	& .ERROR_INCOMPLETE_OBJECT,
	& .ERROR_INCOMPLETE_ARRAY {
		color: blue;
	}

	& .KEY_QUOTED,
	& .ERROR_INCOMPLETE_KEY {
		color: #006400;
	}

	& .KEY_NAKED {
		color: #70C070;
	}
}
